@{
    string accessToken = (string)TempData["AccessToken"];
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>

    <link rel="stylesheet" href="~/auth/chat/style.css">
</head>
<body>
    <div id="chat-container">
        <div id="status"></div>
        <div id="messages">
            <ul></ul>
        </div>
    </div>
    <script>

        $(document).ready(() => {

            const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7071/hubaction", {
                    accessTokenFactory: () => '@accessToken'
                })
                .withAutomaticReconnect([1000, 1000, 2000])
                .build();

            async function start() {
                try {
                    await connection.start();
                    const connectionId = await connection.invoke("connected");
                    console.log(`Connected with ID: ${connectionId}`);

                    await connection.invoke("GetTasksForUser", connectionId);

                    await fetchDatabaseData();
                } catch (error) {
                    console.error(error);
                    setTimeout(() => start(), 2000);
                }
            }

            start();

            connection.on("initialTasks", tasks => {
                let taskList = $("#messages ul");
                tasks.forEach(task => {
                    taskList.append(`<li>${task.description}</li>`);
                });
            });

            connection.on("tasksForUser", tasks => {
                let taskList = $("#userTasks");
                taskList.empty();
                tasks.forEach(task => {
                    taskList.append(`<li>${task.description} - ${task.createDate}</li>`);
                });
            });

        });

    </script>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</body>
</html>
