@{
    Layout = null;
}
@model RealTimeApp.Client.ViewModels.Register_ViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/auth/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/auth/css/style.css">
</head>
<body>
    @{
        var messageType = TempData["MessageType"] as string;
        var message = TempData["Message"] as string;
        var alertClass = messageType == "success" ? "alert-success" : "alert-danger"; 
    }

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert @alertClass" role="alert">
            @message
        </div>
    }

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" action="SignUp" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="firstname" value=@Model.firstname id="name" placeholder="Your Firstname" />
                                <span asp-validation-for="firstname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="lastname" value=@Model.lastname id="name" placeholder="Your Lastname" />
                                <span asp-validation-for="firstname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" value=@Model.email id="email" placeholder="Your Email" />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" name="phonenumber" value=@Model.phoneNumber id="email" placeholder="Your Phone" />
                                <span asp-validation-for="phoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="pass" placeholder="Password" />
                                <span asp-validation-for="password"  class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="rePassword" id="re_pass" placeholder="Repeat your password" />
                                <span asp-validation-for="rePassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                               
                                <select name="roleId" id="roles" class="form-control">
                                    <option value="">Select a role</option>
                                    @foreach (var role in (List<SelectListItem>)TempData["Roles"])
                                    {
                                        <option value="@role.Value">@role.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="roleId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/auth/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="~/account/signin" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="~/auth/vendor/jquery/jquery.min.js"></script>
    <script src="~/auth/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>